<form class="{{cssClass}} item-form flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
        <div class="cell--image">
            <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        </div>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PBTA.Common.Name"}}"/></h1>
            <div>
                <label for="system.hasInfluenceOver" ><input type="checkbox" name="system.hasInfluenceOver" {{checked system.hasInfluenceOver}} />{{localize "MASKS-SHEETS.HasInfluence"}}</label>
            </div>
            <div>
                <label for="system.haveInfluenceOver" ><input type="checkbox" name="system.haveInfluenceOver" {{checked system.haveInfluenceOver}} />{{localize "MASKS-SHEETS.HaveInfluence"}}</label>
            </div>
            <div>
                <label for="system.locked" ><input type="checkbox" name="system.isLocked" {{checked system.isLocked}} />Lock this Influence</label>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </section>
</form>
