<li class="stat flexrow masks-label-shift">
    <label class="cell__title masks-shift-roll">
        <img src="modules/masks-newgeneration-unofficial/assets/back-forth.svg" title="{{localize "MASKS-SHEETS.Shift-Labels"}}" />
        {{localize "MASKS-SHEETS.Shift-Labels"}}
    </label>
    <div>
        <select class="masks-shift masks-shift-up" name="masks-shift-up" data-action="shift-up" title="{{localize "MASKS-SHEETS.Shift-Up"}}">
        {{#select labelShiftUp}}
            <option value="none">{{localize "MASKS-SHEETS.None"}}</option>
            {{#each system.stats as |stat key|}}
            {{#unless stat.toggle}}
                {{#unless (eq key ../labelShiftDown)}}
                <option value="{{key}}">{{stat.label}}</option>
                {{/unless}}
            {{/unless}}
            {{/each}}
            {{#each customStats as |stat key|}}
            {{#unless (eq key ../labelShiftDown)}}
                <option value="{{key}}" data-isCustom="true">{{stat.label}}</option>
            {{/unless}}
            {{/each}}
        {{/select}}
        </select>
        <select class="masks-shift masks-shift-down" name="masks-shift-down" data-action="shift-down" title="{{localize "MASKS-SHEETS.Shift-Down"}}">
        {{#select labelShiftDown}}
            <option value="none">{{localize "MASKS-SHEETS.None"}}</option>
            {{#each system.stats as |stat key|}}
            {{#unless stat.toggle}}
                {{#unless (eq key ../labelShiftUp)}}
                <option value="{{key}}">{{stat.label}}</option>
                {{/unless}}
            {{/unless}}
            {{/each}}
            {{#each customStats as |stat key|}}
            {{#unless (eq key ../labelShiftUp)}}
                <option value="{{key}}" data-isCustom="true">{{stat.label}}</option>
            {{/unless}}
            {{/each}}
        {{/select}}
        </select>
    </div>
</li>